# Dependencias
node_modules/

# Archivos generados
dist/
build/

# Cobertura de pruebas
coverage/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos comprimidos
*.zip

# PDF
*.pdf

# Recursos estáticos
fonts/
img/

# Archivos de configuración
package-lock.json

#Archivo CSS de normalización
css/normalize.css
